# .gitignore
#
# This file tells git which folders and files not to track. 
# See also $ man git-ignore

# Ignore notes, tarball archives, etc.
hold/

# Ignore general-purpose symlinks
sym/
sym

# Ignore temporary files
*.tmp
*.pm.html

# Ignore Devel::Cover files
cover_db/

# Don't track internal symlink -- will blow up
t
t/

# Ignore backup files
*~

# Ignore README~ (TODO: previous line doesn't work yet)
README~

# Ignore testing output folder
test/dest/

# Ignore Devel::Comments debugging log
debug.log

# Ignore ~/projects/$project/.config
# ... since if project-related, it's already sync'd with Unison
#                                               to file/config/project/
# ... and if it's not project-related, it's None Of Our Business. 
.config/

# Ignore library of modules under development in other projects
libdev/
